<div class="component_part clearfix <%= start %>" id="<%= ead_id(component_part) %>">
  <%= render :partial => 'catalog/_show_partials/_ead/did',
    :locals => {:element => component_part} %>
  
  <% if component_part.did.dao and component_part.did.dao_link -%>
    <%= link_to 'browse', '/exploreuk/catalog/' + component_part.did.dao_link %>
    <br/>
  <% end -%>

  <% if component_part.scopecontent -%>
    Scope and Contents note:
    <% component_part.scopecontent.ps.each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end -%>
  <% end -%>

  <%= render :partial => 'catalog/_show_partials/_ead/dsc',
    :locals => {:element => component_part, :start => ead_increment_start(start)} %>
</div>

