<% @page_title = "Recent Changes - #{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %>">
  <div id="doc_about">
    <h1>Recent Changes</h1>
    <div class="document">
      <%= render :partial=>'search_form' %>
      <%= render :partial => 'recent_changes_text' %>
    </div>
  </div>
</div>

<% sidebar_items << capture do %>
<%= render :partial=>'front_nav', :template=>'catalog/show' %>
<% end %>
<%= render :partial=>'catalog/footer' %>
