<% @footer = capture do %>

<ul class="bottom_nav">
<li><a class="lightboxLink" href="/pages/about/">About</a></li>
</ul>

<p>
Hosted by the University of Kentucky
</p>

<p>
Contact us: <a href="mailto:kdl-help@lsv.uky.edu">kdl-help@lsv.uky.edu</a>
</p>

<p>
Contributors:
</p>

<ul class="contributors">
<li>
  <%= link_to image_tag("/images/contributors/kyvl.png",
                        :alt => 'Kentucky Virtual Library',
                        :title => 'Kentucky Virtual Library'),
              'http://www.kyvl.org' %>
</li>

<li>
  <%= link_to image_tag("/images/contributors/footercpe.png",
                        :alt => 'Kentucky Council on Postsecondary Education', 
                        :title => 'Kentucky Council on Postsecondary Education'), 
              'http://cpe.ky.gov/' %>
</li>

<li>
  <%= link_to image_tag("/images/contributors/imls.png",
                        :alt => 'Institute of Museum and Library Services',
                        :title => 'Institute of Museum and Library Services'),
              'http://www.imls.gov/' %>
</li>

<li>
  <%= link_to image_tag("/images/contributors/nehseal.png",
                        :alt => 'National Endowment for the Humanities',
                        :title => 'National Endowment for the Humanities'),
              'http://www.neh.gov/' %>
</li>

<li>
  <%= link_to image_tag("/images/contributors/nhprc.png",
                        :alt => 'The U.S. National Archives and Records Administration',
                        :title => 'The U.S. National Archives and Records Administration'),
              'http://www.archives.gov/' %>
</li>
</ul>

<ul class="contributors contributors-second">
<li>
  <%= link_to image_tag("/images/contributors/dpla.png",
                        :alt => 'Digital Public Library of America',
                        :title => 'Digital Public Library of America'),
              'http://dp.la/' %>
</li>
</ul>
<% end %>
<% extra_head_content << capture do -%>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23584444-2', 'auto');
  ga('send', 'pageview');

</script>
<% end %>
