<section>
<h2>Browse</h2>
<div class="center_2col_left">
  <ul class="highlights">
    <li class="collect_03"><a href="https://exploreuk.uky.edu/?f%5Bformat%5D%5B%5D=images"><span class="img-box"></span><p class="text-box">Images</p></a></li>
    <li class="collect_02"><a href="https://exploreuk.uky.edu/catalog/facet/source_s?f%5Bformat%5D%5B%5D=athletic+publications"><span class="img-box"></span><p class="text-box">UK Athletic Publications</p></a></li>
    <li class="collect_01"><a href="https://exploreuk.uky.edu/?f%5Bformat%5D%5B%5D=collections"><span class="img-box"></span><p class="text-box">Collection Guides</p></a></li>
    <li class="collect_06"><a href="https://exploreuk.uky.edu/catalog?f%5Bsource_s%5D%5B%5D=The+Kentucky+Kernel"><span class="img-box"></span><p class="text-box">Kentucky Kernel</p></a></li>
    <li class="collect_05"><a href="https://exploreuk.uky.edu/catalog?f%5Bsource_s%5D%5B%5D=University+of+Kentucky+Yearbook+Collection"><span class="img-box"></span><p class="text-box">Yearbooks</p></a></li>
    <li class="collect_04"><a href="https://kentuckyoralhistory.org/"><span class="img-box"></span><p class="text-box">Oral Histories</p></a></li>
  </ul>
</div>
</section>

<div id="socialFooter">
  <div id="socialLinks">
    <img src="<%= image_path('txt_explore-uk.gif') %>" alt="Explore UK on"><a href="http://www.flickr.com/photos/ukarchives/" target="_blank"/>
    <img src="<%= image_path('btn_flickr.gif') %>" alt="Flickr" class="border_right"></a><a href="http://www.youtube.com/user/ukyarchives" target="_blank"/>
    <img src="<%= image_path('btn_youtube.gif') %>" alt="Youtube" class="border_right"/></a>
    <img src="<%= image_path('txt_add-us.gif') %>" alt="Add us to"><a href="http://digg.com/submit?phase=2&amp;url=http://exploreuk.uky.edu"/>
    <img src="<%= image_path('btn_digg.jpg') %>" alt="digg" class="social-link"/></a><a href="http://del.icio.us/post?url=http://exploreuk.uky.edu&amp;title=" explore="" uk="" -="" a="" historical="" collection="" of="" images="" and="" text="" from="" the="" university="" archives"="">
    <img src="<%= image_path('btn_delicious.jpg') %>" alt="delicious" class="social-link"/></a><a href="http://reddit.com/submit?url=http://exploreuk.uky.edu&amp;title=" explore="" uk="" -="" a="" historical="" collection="" of="" images="" and="" text="" from="" the="" university="" archives"="">
    <img src="<%= image_path('btn_reddit.jpg') %>" alt="reddit" class="social-link"/></a><!--<a href="http://www.stumbleupon.com/submit?url=http://exploreuk.uky.edu">
    <img src="<%= image_path('btn_stumble.jpg') %>" alt="Stumble Upon" class="social-link"/></a><a href="http://technorati.com/cosmos/search.html?url=http://exploreuk.uky.edu">
    <img src="<%= image_path('btn_technorati.jpg') %>" alt="Technorati" class="social-link"/></a>-->
  </div>
  <a href="http://www.facebook.com/group.php?gid=101194321669" target="_blank"><img src="<%= image_path('btn_facebook.jpg') %>" alt="Become a fan of explore UK on facebook!" class="facebook"/></a>
  <a href="http://exploreuk.uky.edu/pages/volunteer"><img src="<%= image_path('btn_volunteer.jpg') %>" alt="Become a part of Explore UK volunteer now."/></a>
</div>

<div id="see-blue"><a href="http://seeblueuk.com/"><img src="<%= image_path('btn_see-blue.gif') %>" alt="See Blue"></a></div>
