<div id="search" class="search">
  <% form_tag catalog_index_path, :method => :get do %>
    <h2 class="search"><%= label_tag(:q, "Search this item ") %></h2>
    <%= text_field_tag :q, params[:q], :class => "q" %>
    
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]) %>        

    <% search_within(document).each do |field| %>
    <input type="hidden" name="f[<%= field %>][]" value="<%= document[field] %>"/>
    <% end %>
    
    <%= submit_tag 'search this item', :class=>'submit' %>

    <%= render :partial => 'search_tips' %>
  <% end %>

  <hr/>
</div>
