<%# move elsewhere %>
<%
formats = [
  :everything,
  :collections,
  :images,
  :maps,
  :newspapers,
  :oral_histories,
]

more_formats = [
  :books,
  :journals,
]
%>

<div id="search" class="search">
  <% form_tag catalog_index_path, :method => :get do %>
    <h2 class="search"><%= label_tag(:q, "Search ") %></h2>
    <div class="search_by_format">
      <div class="main_formats">
        <ul class="formats_list">
          <% formats.each_with_index do |format, i| -%>
            <% if i > 0 -%>
              <li class="separated">
            <% else -%>
              <li>
            <% end -%>
            <%= render_format_link(format) %></li>
          <% end -%>
        </ul>
      </div>

      <div class="more_formats">
        <span>More</span>
        <ul id="more_formats_list" class="formats_list">
          <% more_formats.each_with_index do |format, i| -%>
            <% if i > 0 -%>
              <li class="separated">
            <% else -%>
              <li>
            <% end -%>
            <%= render_format_link(format) %></li>
          <% end -%>
        </ul>
      </div>
    </div>
    <%= text_field_tag :q, params[:q], :class => "q" %>
    <%= label_tag(:search_field, " in ") %>
    <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options", :class=>"search_field") %>
    
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]) %>        
    
    <%= submit_tag 'search', :class=>'submit' %>
  <% end %>

  <hr/>
</div>
