<% @page_title = "#{document_show_html_title} - #{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>
<%- extra_head_content << capture do -%>
<meta property="og:image" content="<%= render_thumbnail_url %>" />
<meta property="og:url" content="<%= request.url %>" />
<meta property="og:title" content="Kentucky Digital Library" />
<%- end -%>
<%= render 'catalog/top_sidebar' %>
<% sidebar_items << render_document_sidebar_partial %>

<%= render :partial=>'search_within_form', :locals=>{:document=>@document} %>
<%= render :partial=>'collections_browse' %>

<div class="show">
  <%= render 'constraints', :localized_params=>session[:search] %>
</div>

<%= render 'previous_next_doc' %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %>">
  <div id="doc_<%= @document[:id] %>">
    <%= render_document_heading %>
    <div class="tools"><%= render :partial => 'show_tools' %></div>
    <div class="document">
      <%= render 'view_menu' %>
