<%= render '/home_logo' %>

<%- top_sidebar_items << capture do -%>
  <%- if @document -%>
<div class="contact_us front_nav">
<ul><li><a href="<%= contact_us_catalog_path(:id => @document['id']) %>" 
class="lightboxLink">Contact us about this item</a></li></ul>
</div>
  <%- end -%>
<%- end -%>

<%= render 'catalog/calendar' %>

<%- if has_search_parameters? or @document -%>
  <%- top_sidebar_items << capture do -%>
<div class="front_nav">
<ul>
<li><%= link_back_to_catalog %></li>
<li><%= link_to "Search history", search_history_index_path %></li>
<li><%= link_to "Start over", catalog_index_path %></li>
</ul>
</div>
  <%- end -%>
<%- end -%>
