<div class="views_menu">

<% if @document[:format] == 'collections' %>
  <% if @document[:digital_content_available_s].first == 'true' %>
<%= link_to "item", viewer_catalog_path(@document[:id]) %> |
  <% end %>
<% else %>
<%= link_to "item", viewer_catalog_path(@document[:id]) %> |
<% end %>

<% if @pages and @pages.total_pages > 1 and @document.has_key?(:thumbnail_url_s) %>
<%= link_to "thumbnails", thumbs_catalog_path(@document[:id]) %> |
<% end %>

<%= link_to "details", details_catalog_path(@document[:id]) %>

<% if has_guide?(@document) -%>
|
<%= link_to "guide", guide_catalog_path(@document[:id]) %> 
<% end -%>

<% if has_text?(@document) -%>
|
<%= link_to "text", text_catalog_path(@document[:id]) %> 
<% end -%>

<% if @document[:pdf_url_display] and @document[:pdf_url_display][0] =~ /\.pdf$/ %>
|
<a href="<%= @document[:pdf_url_display] %>">pdf</a>
<% end %>

</div>

