<div class="views_menu">
<%= link_to "viewer", viewer_catalog_path(@document[:id]) %>

<% if @pages and @pages.total_pages > 1 %>
| <%= link_to "thumbs", thumbs_catalog_path(@document[:id]) %>
<% end %>

|

<%= link_to "details", details_catalog_path(@document[:id]) %>

<% if has_guide?(@document) -%>
|
<%= link_to "guide", guide_catalog_path(@document[:id]) %> 
<% end -%>

<% if has_text?(@document) -%>
|
<%= link_to "text", text_catalog_path(@document[:id]) %> 
<% end -%>

<% if @document[:pdf_url_display] and @document[:pdf_url_display][0] =~ /\.pdf$/ %>
|
<a href="<%= @document[:pdf_url_display] %>">pdf</a>
<% end %>

<% if @document.has_key?('reference_image_url_s') %>
<div style="float: left;">
<%= link_to image_tag('download.png', :alt => 'Download this image', :title => 'Download this image'),
            download_catalog_path(@document[:id]) %>
</div>
<% end %>

<div class="bookmarking_control">
<div class="addthis_toolbox addthis_default_style ">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=libmanuk" class="addthis_button_compact">Share</a>
</div>
<script type="text/javascript">
var addthis_config = {
  "data_track_clickback": true,
  "url": <%= 'http://exploreuk.uky.edu' + catalog_path(@document[:id]).to_json %>,
  "title": <%= @document[:title_display].to_json %>,
};
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=libmanuk"></script>
</div>
</div>

