<% unless @document.has_key?('unpaged_display') %>
<% extra_head_content << capture do %>
<script src="/javascripts/mousetrap.min.js" type="text/javascript"></script>
<% end %>

  <% if @document.has_key?('reference_video_url_s') %>
    <% extra_head_content << capture do %>
<script src="/test/javascripts/mediaelement-and-player.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/test/stylesheets/mediaelementplayer.css" />
    <% end %>

<video src="<%= @document['reference_video_url_s'] %>" width="605" height="454" style="display:block;"></video>
<script type="text/javascript">
$('video').mediaelementplayer();
</script>
  <% end %>

  <% if @document.has_key?('reference_audio_url_s') %>
    <% extra_head_content << capture do %>
<script src="/javascripts/mediaelement-and-player.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/stylesheets/mediaelementplayer.css" />
    <% end %>

<audio src="<%= @document['reference_audio_url_s'] %>" style="display:block; width: 605px; height: 30px;"></audio>
<script type="text/javascript">
$('audio').mediaelementplayer();
</script>
  <% end %>

  <% if @document.has_key?('viewer_url_s') %>
    <% extra_head_content << capture do %>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCujYr3KlTufvX4qWJ92gj-jqonN3VZqnk&sensor=false"></script>
<script src="/gmapviewer/resources/gmapconfig.js" type="text/javascript"></script>
<script src="/gmapviewer/resources/gmapviewer.js" type="text/javascript"></script>
    <% end %>
<div id="image_viewer">
  <% if @document.has_key?('reference_image_url_s') %>
  <img class="reference_image" id="reference_image" src="<%= @document['reference_image_url_s'] %>"/>
  <% end %>
  <script type="text/javascript">
  var viewer = null;
  var elt = null;
  var fs = false;

  function fullScreen() {
    if (viewer && viewer.map && viewer.fullscreen_control) {
      toggleFSControl(viewer.fullscreen_control, viewer.map);
    }
    else {
      setTimeout(fullScreen, 200);
    }
  }

  function fsON() {
    $.post('<%= url_for :controller => 'fs', :action => 'on' %>');
  }

  function fsOFF() {
    $.post('<%= url_for :controller => 'fs', :action => 'off' %>');
  }

  function loadViewer() {
    if (elt === null) {
      fs = false;
      jQuery('#viewer').text('');
      jQuery('#fs_viewer').addClass('onpage');
      viewer = new GMapViewer("viewer");
      viewer.setCopyright("", "");
      <% if alto_word_coordinates(@document).length > 0 %>
      viewer.wants_alto = true;
      <% end %>
      <% if @document.has_key?('viewer_url_s') %>
      viewer.loadImage("<%= @document['viewer_url_s'] %>");
      <% end %>
      <%= alto_word_coordinates(@document) %>
      <% if full_screen %>
      fullScreen();
      <% end %>
      jQuery('#reference_image').hide();

    }
  }

  jQuery(document).ready(function() {
    loadViewer();
  });
  </script>
  <div id="fs_viewer">
  <!-- pagination -->
  <div class="fs_pagination hidden">
    <%= render 'pagination' %>
  </div>
  <div id="viewer">test</div>
  </div>
</div>
  <% end %>
<% else %>
  <% extra_head_content << capture do %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/oh.css" media="all">
  <% end %>
  <% if @document.has_key?('synchronization_url_s') %>
    <p class="oh_link">
    <%= link_to image_tag('/images/play.png', :alt => 'Play oral history', :title => 'Play oral history'), oh_url(@document) %>
    </p>
  <% end %>
<% end %>
