<%# default partial to display solr document fields in catalog show view -%>
<dl class="defList">
  <% document_show_fields.each do |solr_fname| -%>
    <% if @document_summary.has? solr_fname %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => @document_summary, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
  <% if @document_summary.has? 'format' and @document_summary.has? 'type_display' %>
    <dt>Type:</dt>
    <dd><%= type_for(document['format'], document['type_display']) %></dd>
  <% end %>
  <% if @document_summary.has? 'accession_number_s' %>
    <dt>Accession number:</dt>
    <dd><%= document['accession_number_s'] %></dd>
  <% end %>
  <% if @document_summary.has? 'source_s' %>
    <dt>Source:</dt>
    <dd><%= link_to document['source_s'], "/catalog?f[source_s][]=#{document['source_s']}" %></dd>
  <% end %>
  <% if @document_summary.has? 'coverage_s' %>
    <dt>Coverage:</dt>
    <dd><%= document['coverage_s'] %></dd>
  <% end %>
  <% if @document_summary.has? 'finding_aid_url_s' %>
    <dt>Finding aid:</dt>
    <dd><a href="<%= document['finding_aid_url_s'] %>"><%= document['finding_aid_url_s'] %></a></dd>
  <% end %>
  <% if @document_summary.has? 'mets_url_display' %>
    <dt>Metadata record:</dt>
    <dd><a href="<%= document['mets_url_display'] %>"><%= document['mets_url_display'] %></a></dd>
  <% end %>
  <% if @document_summary.has? 'usage_display' %>
    <dt>Rights:</dt>
    <dd><%= document['usage_display'] %></a></dd>
  <% end %>
</dl>
