<% unless @document.nil? %>
  <% if @document.has_key?('repository_display') %>

<div class="front_nav">
<ul>
<li class="repo_label">
Provided by <%= @document['repository_display'] %></p>
</li>

<% unless repo_logo_url(@document).nil? %>
<li>
<% if repo_url(@document) %>
<a href="<%= repo_url(@document) %>"><img class="repo_logo" 
     src="<%= repo_logo_url(@document) %>"
     alt="<%= @document['repository_display'] %>"
     title="<%= @document['repository_display'] %>"/></a>
<% else %>
<img class="repo_logo" 
     src="<%= repo_logo_url(@document) %>"
     alt="<%= @document['repository_display'] %>"
     title="<%= @document['repository_display'] %>"/>
<% end %>
</li>
<% end %>
</ul>

</div>
  <% end %>
<% end %>
