<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    
    <meta name="google-site-verification" content="xgU7Zcvu0NIyqB4v1ljhEe3SPTn0D66XzacZRivOMGs" />
    <%= csrf_meta_tag %>
    <%= render_head_content %>
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
    <body onload="$('input#q').focus();" class="<%= render_body_class %>">
  <% else %>
    <body class="<%= render_body_class %>">
  <% end %>
<header id="euk-header">
    <div class="euk-wide-row euk-ukbar ukl-black">
        <div class="euk-space"></div>
        <h1><a href="https://www.uky.edu">UK HOME</a></h1>
        <div class="euk-space"></div>
    </div>
    <div class="euk-scrcbar ukl-blue">
        <div class="euk-space"></div>
        <h1 class="site-logo"><a href="/"><img src="/images/revi/exploreuk.png" alt="ExploreUK home"></a></h1>
        <nav>
            <ul>
                <li><a href="https://libraries.uky.edu/SC">SCRC Home</a></li>
                <li><a href="https://libraries.uky.edu/ContactSCRC">Contact Us</a></li>
                <li><a href="https://requests-libraries.uky.edu/">Researcher Account Login</a></li>
            </ul>
        </nav>
        <div class="euk-space"></div>
    </div>
</header>
	  <div id="doc4" class="yui-t2">
	    <div id="bd">
      	
      	<div id="yui-main">
          <div class="yui-b">
            <%= render :partial=>'/flash_msg' %>
            <%#= render :partial=>'/search_type_links' %>
            <%= yield %>
          </div>
        </div>
        
        <div class="yui-b sidebar"><%= top_sidebar_items.join('') %><%= sidebar_items.join('') %></div>
        
	    </div>
	    
	    
	  </div>
        <%= @footer %>
  </body>
  
</html>
