<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    
    <%= csrf_meta_tag %>
    <%= render_head_content %>
    
<style type="text/css">
header {
    text-align: center;
    font-size: 2em;
    width: 100%;
    color: #ff0000;
    background: #ffff00;
    margin: auto;
    padding: 1em;
}

header a {
    color: #0000ff; !important;
    text-decoration: underline !important;
    border: 0 !important;
}
</style>
    
  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
    <body onload="$('input#q').focus();" class="<%= render_body_class %>">
  <% else %>
    <body class="<%= render_body_class %>">
  <% end %>
<header>
<h1>
The KDL is <a href="http://www.kyvl.org/kdl" target="_blank">under construction</a>
</h1>

<% if @alert.has_key? 'message' %>
<%= @alert['message'] %>
<% end %>

</header>
	  <div id="doc4" class="yui-t2">
	    
	    <div id="bd">
      	
      	<div id="yui-main">
          <div class="yui-b">
            <%= render :partial=>'/flash_msg' %>
            <%#= render :partial=>'/search_type_links' %>
            <%= yield %>
          </div>
        </div>
        
        <div class="yui-b sidebar"><%= top_sidebar_items.join('') %><%= sidebar_items.join('') %></div>
        
	    </div>
	    
	    <div id="ft"><%= @footer %></div>
	    
	  </div>
  </body>
  
</html>
